
ShootingGame/Binaries
ShootingGame/Saved
ShootingGame/Content/InfinityBladeGrassLands
ShootingGame/Intermediate
*.svn-base
*.uasset
*/.svn/*
*/.vs/*
ShootingGame/ShootingGame.sln
ShootingGame/x64/*
ShootingGame/Content/KiteDemo/Maps/Showcase.umap
ShootingGame/Content/KiteDemo/Maps/Overview.umap
ShootingGame/Content/Data
*.umap
*.ini
*/DataExporter/bin/*
*/DataExporter/obj/*